{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y gradient-custom" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto rounded" style="max-width: 380px; margin-top:50px;">
      <div class="card-body">
      <h4 class="card-title mb-4" style="font-size: 28px;">Reset Password</h4>
      <form action="{% url 'reset-password' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
              <input type="password" placeholder="Create new password" class="form-control" name="new_password">
          </div> <!-- form-group// -->

          <div class="form-group">
			<input type="password" class="form-control" placeholder="Confirm new password" name="conf_new_password">
          </div> <!-- form-group// -->

          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
          </div> <!-- form-group// -->
      </form>
	  <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

<!-- ============================ COMPONENT LOGIN  END.// ================================= -->

</section>

{% endblock %}