{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y gradient-custom">
<div class="container mb-4">
  <center><i class="fas fa-check-circle text-warning" style="font-size: 60px; margin-bottom: 20px; color: ;"></i></center>
  <h3 class="text-center mb-0 pb-0">Payment Successful</h3>
  <br>
  <div class="text-center mt-0 pt-0">
    <a href="{% url 'store' %}" class="btn btn-warning">Shop more</a>
  </div>
</div>

<div class="container w-75">
<div class="card bg-dark">
  <div class="card-body">
    <div class="container mb-2">
      <div class="col-xl-9">
        <p style="color: #7e8d9f;font-size: 18px;">Invoice >> <strong>ID : {{ payment.payment_id }}</strong></p>
      </div>
      <div class="container">
        <div class="col-md-12">
          <div class="text-center">
            <div href="./" class="invoice-logo mb-2">
			   <img class="logo" src="{% static './images/footy-logo.png' %}" alt="FootyStore" style="max-height: 40px;">
		    </div> <!-- brand-wrap.// -->
          </div>

        </div>


        <div class="row">

          <div class="col-xl-8">
            <ul class="list-unstyled">
              <li class="text-muted">To: <span style="color:#5d9fc5; font-weight: 600;">{{ order.fullname }}</span></li>
              <li class="text-muted">{{ order.address_1 }}</li>
              <li class="text-muted">{{ order.city }}, {{ order.state }}, {{ order.country }}</li>
              <li class="text-muted"><i class="fas fa-phone"></i> {{ order.phone }}</li>
            </ul>
          </div>
          <div class="col-xl-4">
            <ul class="list-unstyled">
              <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">Order ID:</span> #{{ order.order_number }}</li>
              <li class="text-muted mt-1"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="fw-bold">Ordered Date: </span>{{ order.ordered_at|date:'D d M Y' }}</li>
              <li class="text-muted mt-1"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                  class="mr-1 fw-bold">Payment Status:</span><span class="badge bg-warning text-white fw-bold">
                  {{ payment.payment_status }}</span></li>
            </ul>
          </div>
        </div>

        <div class="row my-2 mx-1 justify-content-center">
          <table class="table table-dark table-striped table-borderless" width="90%;">
            <thead style="background-color:#84B0CA ;" class="text-white">
              <tr>
                <th scope="col"></th>
                <th scope="col">Description</th>
                <th scope="col">Qty</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
            {% for item in products_ordered %}
              <tr>
                <th scope="row"></th>
                <td>{{ item.product.product_name }}</td>
                <td>{{ item.qty }}</td>
                <td>$ {{ item.price }}</td>
                <td>$ {{ item.product_total }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>

        </div>
        <div class="row">
          <div class="col-xl-8">
            <p class="ml-3 text-muted">{{ order.message }}</p>
          </div>

          <div class="col-xl-3">
            <ul class="list-unstyled">
              <li class="text-muted ml-3"><span class="text-black mr-4">SubTotal</span>$ {{ subtotal }}</li>
              <li class="text-muted ml-3 mt-2"><span class="text-black mr-4">Tax(10)%</span>$ {{ order.tax }}</li>
            </ul>
            <p class="text-white float-start font-weight-bold"><span class="text-light mr-2"> Total Amount </span><span
                style="font-size: 20px;">$ {{ order.total }}</span></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xl-12 mt-2">
            <p class="text-center text-warning font-weight-bold">Thank you for your purchase</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
</section>

{% endblock %}